@charset "UTF-8";
/* змінні кольорів */
/* head */
/* main */
/* footer */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.hero__btn {
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #2196F3;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* header */
.header {
  padding-bottom: 25px;
  padding-top: 25px;
}

.header__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin-right: 93px;
}

.header__web {
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
}

.header__list {
  width: 281px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
}

.header__link:hover,
.header__link:focus {
  color: #2196F3;
  font-weight: 500;
  font-size: 14px;
}

.header__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__contacts {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email {
  margin-right: 50px;
}

.header__contacts:hover .header__contacts:focus {
  color: #2196F3;
  font-weight: 500;
}

.header__contacts-list .header__contacts:hover,
.header__contacts:hover .header__icon {
  color: #2196F3;
  fill: #2196F3;
}

.header__icon {
  fill: #757575;
  margin-right: 8px;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 48px 40px;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.menu-container.is-open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.menu-button {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 10px;
  right: 2px;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

@media screen and (max-width: 767px) {
  .navigation, .site-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.hero {
  background-image: url(../img/Imgbg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero__title {
  color: #fff;
  font-size: 26px;
  font-weight: 900;
  text-align: center;
  line-height: 136%;
  text-transform: uppercase;
}

.hero__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  padding: 10px 32px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero__btn:hover,
.hero__btn:focus {
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__title {
    font-size: 44px;
  }
}
/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-button {
  margin-top: 8px;
  margin-left: 490px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  border-radius: 50%;
  background-image: url(../img/symbol-defs.svg#icon-close);
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-icon {
  fill: currentColor;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}

.modal-icon:hover,
.modal-icon:focus {
  color: #2196F3;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form {
  padding-right: 40px;
  padding-left: 40px;
}

.modal-form-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-form-fill {
  margin-bottom: 10px;
  position: relative;
}

.modal-form-input {
  padding-left: 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 30px;
  fill: rgb(33, 33, 33);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 18px;
  height: 18px;
}

.coment {
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.coment:focus {
  outline: none;
  border-color: #2196F3;
}

.coment::-webkit-input-placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.coment::-moz-placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.coment:-ms-input-placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.coment::-ms-input-placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.coment::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-input:focus {
  outline: none;
  border-color: #2196F3;
}

.modal-form-input:focus + .modal-form-icon {
  fill: #2196F3;
}

.modal-form-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.policy-text {
  margin-left: 7px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.01;
  color: #757575;
}

.policy-link {
  color: #2196F3;
  text-decoration: underline;
}

.agree-btn {
  padding: 10px 30px;
  min-width: 200px;
  text-align: center;
  color: #FFFFFF;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
}

.agree-btn:hover,
.agree-btn:focus {
  background-color: #188ce8;
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

.benefits__card {
  min-width: 290px;
  max-width: 450px;
}

.benefits__card::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  background-image: url(../img/Group.webp);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.benefits__card:nth-child(2)::before {
  background-image: url(../img/clock1.webp);
}

.benefits__card:nth-child(3)::before {
  background-image: url(../img/vektor.webp);
}

.benefits__card:nth-child(4)::before {
  background-image: url(../img/astronavt.webp);
}

.benefits__title {
  color: #212121;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.benefits__text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 171.429%;
}

@media screen and (min-width: 768px) {
  .benefits__card {
    min-width: 354px;
    max-width: 354px;
    margin-bottom: 30px;
  }
  .benefits__title {
    text-align: left;
  }
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .benefits {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__card {
    margin-bottom: 0;
    min-width: 270px;
    max-width: 270px;
  }
  .benefits__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work {
    padding-bottom: 94px;
    display: block;
  }
  .name__section {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .work__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .work__card {
    position: relative;
  }
  .work__img {
    width: 370px;
    height: 294px;
  }
  .activity__subtitle {
    position: absolute;
    bottom: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 70px;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
.team {
  background-color: #F5F4FA;
  padding-bottom: 60px;
  padding-top: 60px;
}

.team__wrap {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding-bottom: 24px;
  width: 290px;
}

.team__img {
  max-width: 100%;
  margin-bottom: 30px;
}

.team__name {
  color: #212121;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}

.profesion {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.social__item {
  width: 20px;
  height: 20px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-top: 16px;
}

.social__link {
  fill: #757575;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: poiter;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms;
}

.social__link:hover,
.social__link:focus {
  fill: #FFF;
  background-color: #2196F3;
}

.team__card {
  margin-bottom: 30px;
}

.name__section {
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .team__wrap {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team__wrap {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .team__wrap {
    width: 270px;
  }
  .team__card {
    margin-bottom: 0;
  }
  .team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.clients {
  color: #212121;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__item {
  width: 100%;
  margin-left: 30px;
  margin-top: 30px;
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
}
.clients__item:not(:first-child) {
  margin-left: 30px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
  }
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #757575;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  fill: #757575;
  -webkit-transition: fill 250ms ease, border-color 250ms ease;
  transition: fill 250ms ease, border-color 250ms ease;
}
@media screen and (min-width: 480px) {
  .clients__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.clients__link:hover,
.clients__link:focus {
  fill: #2196F3;
  border-color: #2196F3;
}

.clients__icon {
  width: 106px;
  height: 60px;
}

/* footer */
.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot__studio {
  color: #ffffff;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 171.429%;
}

.foot__web {
  color: #2196F3;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
}

.geo {
  color: #FFFFFF;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 171.429%;
}

.foot__contacts {
  color: #FFFFFF;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 171.429%;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.footer__social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.footer__social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms;
  cursor: pointer;
}

.footer__social__link:hover,
.footer__social__link:focus {
  background-color: #2196F3;
}

.footer__social__svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-align: center;
}

.footer__box__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.footer__form-title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

.form__input {
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  background: #2F303A;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  min-width: 290px;
  max-width: 450px;
}

.footer__submit-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  margin-top: 20px;
}

.footer__icon {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  margin-left: 10px;
}

.footer__form-filt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form__input {
    min-width: 450px;
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__box__link {
    margin-left: 70px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0;
  }
  .footer__box {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0;
  }
  .footer__form-title {
    text-align: left;
  }
  .footer__form-filt {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .form__input {
    max-width: 358px;
    min-width: 358px;
  }
  .footer__submit-btn {
    margin-top: 0;
    margin-left: 12px;
  }
}
.project {
  padding-bottom: 60px;
  padding-top: 60px;
}

.main__filter {
  background-color: #F5F4FA;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  margin-bottom: 50px;
  line-height: 162%;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.main__filter:hover,
.main__filter:focus {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.main__filter:hover {
  background-color: #2196F3;
  color: #ffffff;
  font-weight: 500;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__card {
  border: 1px solid #eee;
  width: 290px;
}

.main__card:hover,
.main__card:focus {
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.card__photo {
  margin-bottom: 20px;
}

.product__trum {
  position: relative;
  overflow: hidden;
}

.product__action {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.6;
  background-color: rgba(33, 150, 243, 0.8980392157);
  color: #fff;
  padding: 43px 24px;
  opacity: 0;
  width: 100%;
}

.main__card {
  position: relative;
  margin-bottom: 30px;
}

.main__card:hover .product__action {
  opacity: 1;
}

.card__name {
  color: #212121;
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
}

.card__type {
  color: #757575;
  font-weight: 400;
  padding-bottom: 20px;
}

.card {
  padding-left: 24px;
}

.card__photo {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .project__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main__card {
    width: 354px;
  }
  .product__action {
    font-size: 18px;
    padding: 49px 24px;
  }
}/*# sourceMappingURL=main.css.map */