/* змінні кольорів */ 

    /* head */ 
    $web: #2196F3; 
    $head-studio: #000; 
    $hover-color: #2196F3; 
    $head-nav: #212121; 
    $head-contacts: #757575; 
    /* main */ 
    $white-color: #fff; 
    $button: #2196F3; 
    $bacraund-color: #2F303A; 
    $main-titles: #212121; 
    $text-color: #757575; 
    $bottom-section-bg: #F5F4FA; 
    $border-color-portfolio: #eee; 
    /* footer */ 
    $foot-studio: #ffffff; 
    $foot-adress: #FFFFFF; 
