.benefits__card::before{ 
    content: ''; 
    display: block; 
    width: 100%; 
    height: 120px; 
    background-color: #F5F4FA; 
    border-radius: 4px; 
    background-image: url(../img/Group.webp); 
    background-size: 70px; 
    background-repeat: no-repeat; 
    background-position: center; 
    margin-bottom: 30px; 
} 
.benefits__card:nth-child(2)::before{ 
    background-image: url(../img/clock1.webp); 
} 
.benefits__card:nth-child(3)::before{ 
    background-image: url(../img/vektor.webp); 
} 
.benefits__card:nth-child(4)::before{ 
    background-image: url(../img/astronavt.webp); 
} 
.benefits { 
    padding-top: 95px; 
} 
 
.benefits__list { 
    @include flex();
} 
 
.benefits__card { 
    width: 270px; 
 
} 
 
.benefits__title { 
    color: $main-titles; 
    font-weight: 700; 
    margin-bottom: 10px; 
    font-size: 14px; 
    text-transform: uppercase; 
 
} 
 
.benefits__text { 
    color: $text-color; 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 171.429% 
} 
.name__section{ 
    @include title();
} 
 

 
