.hero{ 
    background-image: url(./); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    padding-top: 200px; 
    padding-bottom: 200px; 
    max-width: 1600px; 
    margin: 0 auto; 
} 



.hero__title { 
color: $head-studio; 
font-size: 44px; 
font-weight: 900; 
text-align: center; 
line-height: 136%; 
text-transform: uppercase; 
} 

.hero__wrap { 
display: flex; 
justify-content: center; 
} 

.hero__btn { 
color: $white-color; 
background-color:  $button; 
font-weight: 700; 
font-size: 16px; 
padding: 10px 32px; 
border: none; 
border-radius: 4px; 
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 

 
} 

.hero__btn:hover, 
.hero__btn:focus{ 
  cursor: pointer;
 }